.lawyer-details-page {
  width: 100%;
  font-family: 'Montserrat', arial, sans-serif;

  .section {
    border: 1px solid #d8d8d8;
    position: relative;
    margin-top: 30px;
  }

  .title {
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(104, 101, 101);
  }
  .image {
    .cover-photo {
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: 100% 200px;
    }
    .profile-photo {
      position: absolute;
      left: 5%;
      top: 145px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: 100px 100px;
    }
    .details {
      height: 200px;
      color: gray;
      .name-gender {
        position: absolute;
        bottom: 60px;
        left: 50px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .info {
    padding: 30px;
    .content {
      color: grey;
      margin-top: 10px;
    }
  }

  .specialization {
    padding: 30px;
    .content {
      display: flex;

      .element {
        background-color: #105fbb;
        border-radius: 25px;
        padding: 10px;
        color: white;
        font-size: 12px;
        margin: 5px;
      }
    }
  }

  .location {
    display: flex;
    .address {
      padding: 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      .content {
        display: flex;
        :nth-child(2) {
          color: grey;
        }
      }
      .element-icon {
        margin-right: 5px;
      }
      .element {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
      }
    }
    .map-section {
      width: 50%;
      .google-map {
        height: 300px;
      }
    }
  }

  .contact-appointment {
    display: flex;
    .contact {
      color: rgb(112, 110, 110);
      padding: 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      .element {
        margin: 5px;
      }
      .detail-header {
        font-weight: 500;
      }
    }
    .appointment {
      padding: 10px;
      width: 50%;
      display: flex;
      flex-direction: column;
      .day {
        font-weight: 500;
      }
      .time-range {
        margin-bottom: 5px;
        color: rgb(109, 107, 107);
      }
    }
    .icon-element {
      display: flex;
      .icon {
        margin-right: 5px;
      }
    }
    .languages {
      span {
        margin: 0 2.5px;
        display: inline-block;
      }
    }
  }

  .right-section {
    background-color: #fbfbfb;
    margin-top: 30px;
    hr {
      background-color: #ebebeb !important;
      margin: 0;
    }
    .title {
      font-size: 18px;
      font-weight: 500;
      color: rgb(37, 36, 36);
      padding-left: 10px;
    }
    .sub-title {
      font-size: 16px;
      font-weight: 400;
      padding-left: 10px;
    }
    .booking-section {
      padding: 10px 0;
      .form-section {
        padding: 10px;
        transition: border-left 0.15s;
        transform-origin: left top;
        border-top: 1px solid #ebebeb;
        border-left: 2.5px solid transparent;
      }
      .active-section {
        border: none;
        border-top: 1px solid #ebebeb;
        border-left: 2.5px solid #105fbb !important;
      }
      .form-check {
        border: 1px solid #d8d8d8;
        background-color: white;
        margin: 10px 0;
        padding: 10px;
        width: 80%;
        border-radius: 10px;
        .form-check-input {
          position: relative;
          margin-left: 0;
          margin-right: 5px;
          width: 15px;
          height: 15px;
        }
        .form-check-label {
          width: 100%;
        }
      }
      .calender-wrapper {
        position: relative;
        height: 400px;
      }

      .appointment-btn {
        width: 50%;
        background-color: #105fbb;
        border-color: #105fbb;
        font-size: 14px;
        margin-left: 25%;
      }

      button.appointment-btn:hover {
        background-color: #082b53;
        border-color: #082b53;
      }
    }
  }
}
