.home-page {
  height: auto;
  padding: 0;
  .image-container {
    background-color: #0596de;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/lawyer1.png');
    background-position: right bottom;
    background-size: 679px 379px;
    height: 456px;
    max-width: 100%;
    padding-top: 1px;
  }

  .search-input-group {
    margin-top: 8%;
    margin-left: 10%;
    width: 80%;
    input {
      height: 60px;
    }
    button {
      color: white;
      height: 100%;
      border-radius: 0 8px 8px 0;
    }
    .col-md-3 {
      padding: 0;
      input {
        border-radius: 0;
      }
    }
    .col-md-5 {
      padding: 0;
      input {
        border-radius: 8px 0 0 8px;
      }
    }
    .search-input-responsive {
    }
  }

  .search-title {
    width: 70%;
    color: white;
    font-weight: 900;
  }

  .card-section {
    padding: 10px;
    margin-top: 60px;
    span {
      padding-left: 0px;
    }
    h4 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .video-section {
    background-color: #f2fafd;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/videoSection.png');
    background-position: left bottom;
    background-size: 347px 129px;
    .col {
      width: 90%;
      padding-left: 5%;
      padding-top: 40%;
      h4{
        margin-bottom: 20px;
      }
      button{
        margin-top: 10px;
      }
    }
    .player-wrapper {
      position: relative;
      padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    }
    .react-player {
      position: absolute;
      top: 0;
      left: 0;
      video {
        object-fit: cover;
      }
    }
  }

  .image-section {
    background-color: #f8f8fb;
    img {
      width: 300px;
    }
    .image-card-section {
      padding-top: 30px;
      margin-top: 20px;

      span {
        padding-left: 0px;
      }
      h4 {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .bottom-card-section {
    .title {
      margin-bottom: 30px;
      font-weight: bold;
    }
  }

  .blue-btn {
    background-color: #0596de;
    border-color: #0596de;
  }

  button.blue-btn:hover {
    color: white;
    border-color: #11689e;
    background-color: #11689e;
  }

  .blue-btn-outline {
    color: #0596de;
    border-color: #0596de;
  }

  button.blue-btn-outline:hover {
    color: #435f71;
    border-color: #435f71;
    background-color: white;
  }
}

// @mixin responsive-btn-mixin() {
//   display: flex;
//   justify-content: center;
// }

// @media only screen and (max-width: 765) {
//   .search-input-responsive {
//     @include responsive-btn-mixin();
//   }
// }
