.home-page {
  height: auto;
  padding: 0;
  .top-image-container {
    background-color: #0596de;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/lawyer1.png'),
      url('../../assets/images/dots.png'); // For browsers without gradient support
    background-image: url('../../assets/images/lawyer1.png'),
      url('../../assets/images/dots.png'),
      linear-gradient(180deg, #0596de 19%, #10adde 100%);
    background-position: right bottom, bottom left;
    background-size: 679px 379px, 60% 186px, 100%;
    height: 456px;
    max-width: 100%;
    padding-top: 1px;

  .search-input-group { 
    width: 70%;
  }

  .search-input{
    padding-left: 15px;
  }

  .search-title {
    width: 70%;
    margin: 10% 0 32px;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 700;
    color: #fff;
  }
  }


  .card-section {
    padding: 10px;
    padding-left: 0;
    margin-top: 60px;
    span {
      padding-left: 0px;
    }
    h4 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .video-section {
    background-color: #f2fafd;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/videoSection.png');
    background-position: left bottom;
    background-size: 347px 129px;
    .row{
      justify-content: space-between;
    }
    .col {
      width: 90%;
      padding-left: 0;
      padding-top: 5%;
      padding-bottom: 30%;
      h4 {
        margin-bottom: 20px;
      }
      button {
        margin-top: 10px;
      }
    }
    .video-image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../../assets/images/mobile.jpg');
    }
  }
  .image-section-wrapper {
    background-color: #f8f8fb;
    .row{
      justify-content: space-between;
    }
    .image-section {
      img {
        width: 300px;
      }
      .image-card-section {
        padding-top: 30px;
        margin-top: 20px;
        margin-left: 0;
        padding-left: 0;
        span {
          padding-left: 0px;
        }
        h4 {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .col-md-4{
          padding-left: 0 ;
          .col{
            padding-left: 0;
          }
        }
      }
    }
  }
  .bottom-card-section {
    .title {
      margin-bottom: 30px;
      font-weight: bold;
    }
  }

  .blue-btn {
    background-color: #0596de;
    border-color: #0596de;
  }

  button.blue-btn:hover {
    color: white;
    border-color: #11689e;
    background-color: #11689e;
  }

  .blue-btn-outline {
    color: #0596de;
    border-color: #0596de;
  }

  button.blue-btn-outline:hover {
    color: #435f71;
    border-color: #435f71;
    background-color: white;
  }

  .center-btn {
    .bottom-transition-btn {
      margin-top: 10%;
    }
  }
}
