.appointments-page{
    background-color: #FBFBFB;
     .title{
         display: flex;
         justify-content: flex-start;
         font-size: 40px;
         font-weight: bold;
         margin-top: 10%;
         margin-left: 5%;
     }
}