.floating-input-parent {
  .floating-label-input {
    position: relative;
    color: rgb(116, 116, 116);

    input {
      padding: 35.2px 14.08px 13.2px;
      height: 70px;
    }
    .floating-label {
      position: absolute;
      pointer-events: none;
      left: 20px;
      top: 25px;
      transition: 0.3s ease all;
    }
    input:focus ~ .floating-label,
    .has-input ~ .floating-label,
    input:placeholder-shown {
      top: 10px;
      bottom: 10px;
      left: 16px;
      font-size: 14px;
      opacity: 1;
    }

    input:focus {
      box-shadow: 0 0 1px 1px #0596de;
    }

    .inner-link {
      position: absolute;
      right: 5%;
      top: 35%;
      font-weight: 550;
      a {
        color: #0596de;
      }
    }

    .pwd-btn {
      position: absolute;
      right: 5%;
      top: 35%;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    }
  }
}

.pwd-bar-wrapper {
  div:first-child:first-child {
    div {
      height: 5px !important;
      transition: 0.5s linear !important;
    }
    div:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    div:nth-child(2) {
      display: none;
    }
    div:nth-child(4) {
      display: none;
    }
    div:nth-child(6) {
      display: none;
    }
    div:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  margin: 20px 0;
  .score-word-style {
    text-align: left !important;
  }
}

.hide-score-word {
  max-width: 50%;
  margin-bottom: 0px;
  p {
    visibility: hidden !important;
    margin: 0px !important;
    font-size: 0rem;
  }
}
