.bottom-section {
  padding: 12px 14px;
  border-top: 1px solid rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  font-size: 14px !important;
  .btn-link {
    color: #0596de;
    text-decoration: underline;
    font-size: 14px;
    padding: 0;
  }
  .btn-link.disabled,
  .btn-link:disabled {
    color: #6c757d;
    pointer-events: none;
  }

  .btn-primary {
    color: white;
    background-color: #0596de;
    border-color: #0596de;
    border-radius: 8px;
    font-size: 14px;
  }

  .btn-primary.disabled,
  .btn-primary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
  }
}

.top-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-height: 330px;
  input {
    position: relative;
    margin-left: 0;
    margin-right: 10px;
  }
  label {
    margin-bottom: 5px;
  }
}
