.login-page {
  padding: 1px;
  width: 100%;
  height: calc(100vh - 56px);
  margin: 0;
  background-color: whitesmoke;
  .card {
    margin: 16px;
  }
  .title {
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
  }
  .login-btn {
    width: 100%;
    font-weight: bold;
  }
  .forgot-your-password {
    text-align: center;
    .btn-link {
      color: #435f71 !important;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .register-btn {
    font-weight: bold;
    font-size: 14px;
    color: #0596de;
  }

  .login-footer{
    display: flex;
    flex-direction: column;
    .title{
      margin-bottom: 0;
    }
  }
  .registration-card{
    .form-check{
      display: flex ;
    }
    .register-btn{
      width: 100%;
      margin-top: 20px;
      color: white;
    }
    
  }

}
