.pagination{
    .page-link{
        border: none !important;
        border-radius: 50%;
    }
    .page-item{
        margin: 0 10px;
    }
    .active{
        border: none;
        box-shadow: none;
        .page-link{
            background-color: #105fbb;
        }
    }
}