.column-header {
  color: #7791a2;
  padding-bottom: 5px;
}

.footer {
  bottom: 0;
  max-width: 1320px;
  margin-top: 500px;
  .info-section{
    padding: 30px;
  }
  .bottom-footer{
    color: #7791a2;
    padding: 10px;
  }
  .icon-bar{
    padding: 30px;
  }
  .footer-search{
    padding-left: 30px;
    padding-bottom: 30px;
    .search-header{
      margin-top: 1rem;
      margin-right: 1rem;
      }
  }
  
}

.transparent-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding: 5px;
}



