.navbar{
   background-color: #0596de;
   font-weight: bold;
   line-height: 14px;
   font-size: 14px;
   font-family: "Roboto",arial,sans-serif;
   a{
      color: white !important;
   }
   ul{
      width: 100%;
      justify-content: center;
      li{
         padding-left: 10px;
         button{
            font: inherit;
            height: 40px;    
            display: flex;
            padding: 10px;
         }
          .btn-outline-secondary{
            background-color: white;
            color: #0596de;
            max-width: 200px;
            padding: 6px;
            border-radius: 8px;
            border-color: white;
         }
         .btn-outline-secondary:hover{
            color: #0a5377;
         }
         .nav-button{
            background-color: transparent;
            border-color: transparent;
            border-radius: 30px;
            .nav-text{
               margin-left: 5px;
            }
         }
         .nav-button:hover{
            background-color: rgba(238, 238, 238, 0.4);
         }
         .no-hover:hover{
            text-decoration: none;
         }
         
      }
   }

   .nav-button-group{
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      right: 10px;
      .nav-button-item{
         margin-left: 10px;
      }
   }
}