.search-input-btn{
    height: 60px;
    color: #fff;
    background: -webkit-linear-gradient(top, #ffc164 0%, #f59300 46.12%, #f59300 97.02%);
    border-radius: 0 8px 8px 0;
    z-index: 1;
    border: none;
}

button.search-input-btn:hover{
    background: #e98d03 !important;
    -webkit-transition: none !important;
    transition: none !important;
}

.btn-icon{
    margin-left: 5px;
}